#include "Orbee.dtsi"

&kscan0 {
    col-gpios = 
        <&xiao_d 10 GPIO_ACTIVE_HIGH>,
        <&xiao_d 9 GPIO_ACTIVE_HIGH>,
        <&xiao_d 8 GPIO_ACTIVE_HIGH>,
        <&xiao_d 7 GPIO_ACTIVE_HIGH>,
        <&gpio0 10 GPIO_ACTIVE_HIGH>,
        <&gpio0 9 GPIO_ACTIVE_HIGH>;
};

&left_encoder0 {
    status = "okay";
};

 / {
    behaviors {
        touch_behavior_1: touch1 {
            compatible = "zmk,behavior-momentary";
            label = "Touch1";
            bindings = <&kp PG_DN>;
        };

        touch_behavior_2: touch2 {
            compatible = "zmk,behavior-momentary";
            label = "Touch2";
            bindings = <&kp PG_UP>;
        };

        touch_behavior_3: touch3 {
            compatible = "zmk,behavior-momentary";
            label = "Touch3";
            bindings = <&kp END>;
        };
    };

    touch_input_1: gpio_key_1 {
        compatible = "zmk,input-gpio";
        label = "Touch Key 1";
        gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        input-behavior = <&touch_behavior_1>;
    };

    touch_input_2: gpio_key_2 {
        compatible = "zmk,input-gpio";
        label = "Touch Key 2";
        gpios = <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        input-behavior = <&touch_behavior_2>;
    };

    touch_input_3: gpio_key_3 {
        compatible = "zmk,input-gpio";
        label = "Touch Key 3";
        gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        input-behavior = <&touch_behavior_3>;
    };
};
